<mat-stepper orientation="vertical" [linear]="true" #stepper>
<mat-step [stepControl]="dataForm">
    <form [formGroup]="dataForm">
    <ng-template matStepLabel>Selecione a Data</ng-template>
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [selected]="getDataRegistoFormControl()"
            (selectedChange)="updateDataRegistoFormControl($event)"></mat-calendar>
        </mat-card>
    <div>
        <button mat-button matStepperNext>Próximo</button>
    </div>
    </form>
</mat-step>
<mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
</mat-step>
</mat-stepper>